@charset "UTF-8";

* { margin: 0; padding: 0; border: none; line-height: 1 }
:focus { outline: 0; }
div.clear { clear: both; }
ul { list-style-type: none }

a
{
	text-decoration: none;
	color: black;
}

body {
	background-image:url('../img/bg.jpg');
	background-attachment:fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
	font-size: 15px;
	margin: 20px;
}

h1.out
{
	color: white;
	text-shadow: 0 2px black;
	width: 700px;
	margin: auto;
	margin-bottom: 5px;
	font-size: 40px;
}

h1#logo
{
	width: 500px;
}

h2
{
	font-weight: 300;
	margin-bottom: 20px;
}

div.content
{
	margin: auto;
	margin-bottom: 20px;

	color: black;
	text-shadow: 0 1px white;

	padding: 20px;
	text-align: center;
	
	background-color: #fff;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
}

div.small
{
	width: 500px;
}

div.large
{
	width: 700px;
}

div.event 
{
	width: 700px;
	text-align: left;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid grey;

}

div.info
{
	text-align: left;
	display: inline;
	float: left;
}

div.energies
{
	display: inline;
	float: right;
}

span.energy
{
	font-size: 20px;
	line-height: 1.5;
	text-align: right;
	display: block;
	float: right;
}

div.content h1
{
	display: inline;
	color: black;
	text-shadow: 0 1px white;
}

select
{
	border: 1px solid;
	font-size: 20px;
}

div#center-wrapper
{
	margin: auto;
}
#sync-container
{
	margin-top:30px;
	display:none;
	background-color:white;
	width:150px;
	font-size:22px;
	margin:0 auto;
	text-align:center;
	padding:5px;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
}
#sync-container a
{
	color:black;
	text-decoration:none;
}
